.home_nav
  height 22px
  top 55px
  margin-left -15px
  .home_list
    // width 500px
    height 22px
    position relative
    white-space nowrap
    justify-content space-around
    a
      margin-left 20px
    .home_item
      font-size 15px
      color #7f7f7f
      text-decoration none
    .xuan
      color red
      border-bottom 2px solid red
.home_icon
  position fixed
  text-align center
  line-height 20px
  background #fff
  right 0
  top 50px
  width 45px
  height 20px
