.header_warp
  width 100%
  position fixed
  background #fff
  z-index 100
  left 0
  top 0
  // border-bottom: 1px solid #7f7f7f
  .home_header
    width 100%
    height 50px
    display flex
    align-items center
    margin-left 10px
    img
      width 70px
      height 25px
    .home_header_sou
      flex-direction column
      align-items center
      text-align center
      width 220px
      border-radius 7px
      height 30px
      line-height 30px
      justify-content center
      background #ededed
      margin-left 10px
    .home_header_deng
      text-align center
      line-height 20px
      width 40px
      height 20px
      border 1px solid red
      margin-left 10px
      border-radius 7px
    
