.warp
  width 100%
  background #ededed
  position relative
  .home_icon
    position fixed
    text-align center
    line-height 20px
    background #fff
    right 0
    top 50px
    width 50px
    height 20px
  .home_conter // 轮播
    position relative
    background #fff
    .swiper-pagination
      position absolute
      bottom 10px
      width 100%
      .swiper-pagination-bullet
        width 80px
        background red
        height 10px
    img
      width 100%
      height 200px
  // .home_policy // 48小时退款
  //   height 36px
  //   width 100%
  //   display flex
  //   background #fff
  //   vertical-align middle
  //   .grow
  //     height 36px
  //     display flex
  //     flex 1
  //     align-items center
  //     vertical-align middle
  //     list-style none
  //     .item
  //       line-height 18px
  //       margin-left 15px
  //       height 18px
  //       vertical-align middle
  //       img
  //         display inline-block
  //         width 18px
  //         height 18px
  //       .text
  //         margin-left 5px
  //         font-size 12px
  // .home_slide // 导航栏
  //   width 100%
  //   height 171px
  //   display flex
  //   flex-wrap wrap
  //   background #fff
  //   .silde_li
  //     flex-direction column
  //     align-items center
  //     display flex
  //     flex 1
  //     width 70px
  //     height 75px
  //     margin 5px
  //     justify-content space-between
  //     color #7f7f7f
  //     img
  //       width 55px
  //       height 55px
  // .home_floor // 新人专享
  //   width 100%
  //   height 279px
  //   padding-left 0.4rem
  //   background #fff
  //   margin-top 10px
  //   position relative
  //   .floor_header
  //     height 45px
  //     margin-left 25%
  //     font-size 20px
  //   .left
  //     position relative
  //     width 172px
  //     height 222px
  //     background #F9E9CF
  //     span
  //       display inline-block
  //       font-size 16px
  //       margin 10px
  //     img
  //       position absolute
  //       left 50%
  //       top 50%
  //       transform translate(-64px, -64.5px)
  //       width 129px
  //       height 128px
  //   .right1
  //     position absolute
  //     top 26px
  //     right 28px
  //     width 172px
  //     height 108px
  //     background #FBE2D3
  //     .right1_content
  //       position absolute
  //       left 15px
  //       top 10px
  //       .right1_title
  //         font-size 18px
  //       .right1_text
  //         color #7f7f7f
  //     img
  //       position absolute
  //       right 0
  //       top 0
  //       width 100px
  //       height 100px
  //   .right2
  //     position absolute
  //     top 140px
  //     right 28px
  //     width 172px
  //     height 108px
  //     background #FFECC2
  //     .right2_content
  //       position absolute
  //       left 15px
  //       top 10px
  //       .right2_title
  //         font-size 18px
  //       .right2_text
  //         padding 0 3px
  //         display inline
  //         color #fff
  //         background #cbb693
  //     img
  //       position absolute
  //       right 0
  //       bottom 0
  //       width 100px
  //       height 100px
  // .home_gnmb // 品牌
  //   position relative
  //   width 100%
  //   height 238px
  //   margin-top 10px
  //   background #fff
  //   .gnmb_header
  //     height 50px
  //     display flex
  //   .gnmb_header_item
  //     text-align center
  //     line-height 50px
  //     font-size 18px
  //   .item1
  //     position absolute
  //     left 20px
  //   .item2
  //     position absolute
  //     right 20px
  //   .gnmb_content
  //     .content_list
  //       width 375px
  //       flex-wrap wrap
  //       background #fff
  //       margin-bottom 0.26667rem
  //       padding 0 0.34rem 0.34rem 0.3989rem
  //       .content_item
  //         display inline-block
  //         margin 0 0.05333rem 0.05333rem 0
  //         width 4.57333rem
  //         height 3.46667rem
  //         border-radius 0.05rem
  //         background-image url('https://yanxuan.nosdn.127.net/66a23d776f41cba70d00803a5231124b.png?imageView&thumbnail=343y260&enlarge=1')
  //         background-size 100% 100%
  //         >p
  //           font-size 15px
  //           margin 12px 0 0 45px
  //         >span
  //           float left
  //           color #7f7f7f
  //           margin-left 70px
  // .home_module // 新品尝鲜
  //   width 100%
  //   height 391px
  //   // background #333
  //   margin-top 100px
  //   .module_digimg
  //     height 188px
  //     background #fff
  //     background-image url('https://yanxuan.nosdn.127.net/2565b1fa18e4b8b64aad0710c9725aa1.jpg')
  //     background-size 100% 100%
  //   .module_list
  //     width 600px
  //     height 203px
  //     display flex
  //     background #fff
  //     .module_item
  //       width 100px
  //       height 180px
  //       background #fff
  //       margin 12px 0 0 12px
  //       img
  //         width 100px
  //         height 100px
  //         background-color rgba(0, 0, 0, 0.05)
  // .home_footer // 底部
  //   height 122px
  //   background #333
  //   padding 0.72rem 0.26667rem 0.37333rem
  //   position relative
  //   margin-top 10px
  //   .footer_content
  //     // background #fff
  //     .content_btn
  //       height 31px
  //       background #7f7f77 f
  //       display flex
  //       .btn
  //         width 86px
  //         height 30px
  //         margin-left 60px
  //         // background green
  //         text-align center
  //         line-height 30px
  //         border 1px solid #fff
  //         border-radius 2px
  //         span
  //           color #fff
  //   .content_banquan
  //     height 32px
  //     width 310px
  //     // background green
  //     position absolute
  //     left 50%
  //     bottom 20px
  //     transform translateX(-155px)
  //     text-align center
  //     span
  //       color #7f7f7f
